# Python artifacts
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pkl

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Environment folders
venv/
ENV/
.env

# OS files
.DS_Store
Thumbs.db

# Editor files
.vscode/
.idea/

# Build folders
dist/
build/
*.egg-info/

# Logs
*.log

# Temporary files
*.tmp
*~
